
/** banner-section **/


.banner-section{
  position: relative;
  padding: 283px 0px 0px 0px;
}

.banner-section h2{
  display: block;
  font-size: 120px;
  line-height: 130px;
}

.banner-section .inner-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-section .inner-box .single-item{
  position: relative;
  display: inline-block;
  padding-left: 70px;
}

.banner-section .inner-box .single-item .icon-box{
  position: absolute;
  left: 0px;
  top: 7px;
}

.banner-section .inner-box .single-item h3{
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 34px;
}

.banner-section .inner-box .funfact-inner{
  position: relative;
  display: flex;
  align-items: center;
}

.banner-section .inner-box .counter-block{
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 70px;
}

.banner-section .inner-box .counter-block:last-child{
  margin: 0px !important;
}

.banner-section .inner-box .counter-block .count-outer{
  font-size: 52px;
  line-height: 60px;
  font-family: var(--title-font);
  color: var(--title-color);
  font-weight: 700;
  margin-right: 25px;
}

.banner-section .outer-container{
  position: relative;
  padding-right: 310px;
}

.banner-section .outer-container:before{
  position: absolute;
  content: '';
  right: 0px;
  top: -100px;
  background: #FAFAFA;
  width: calc(100% - 310px);
  height: calc(100% - 277px);
}

.banner-section .outer-container .image-box{
  position: relative;
  display: block;
}

.banner-section .outer-container .image-box img{
  width: 100%;
}

.banner-section .curved-circle{
  position: absolute;
  top: 200px;
  right: 70px;
}

.curved-circle{
  position: relative;
  display: inline-block;
  width: 145px;
  height: 145px;
}

.curved-circle .curve-text{
  position: relative;
  font-size: 14px;
  font-family: var(--title-font);
  color: var(--title-color);
  font-weight: 400;
  text-transform: uppercase;
  width: 145px;
  height: 145px;
  letter-spacing: 4.1px;
}

.curved-circle .video-btn{
  position: absolute;
  display: inline-block;
  left: 40px;
  top: 57px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
}

.curved-circle .video-btn:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.curved-circle .video-btn:after{
  position: absolute;
  content: '';
  background: #fff;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  left: 1px;
  top: 1px;
  border-radius: 50%;
}

.curved-circle .video-btn a{
  position: relative;
  display: inline-block;
  width: 64px;
  height: 64px;
  line-height: 66px;
  text-align: center;
  border-radius: 50%;
  z-index: 1;
}

.banner-section .pattern-layer .pattern-1{
  position: absolute;
  left: 150px;
  top: 286px;
  width: 86px;
  height: 85px;
  background-repeat: no-repeat;
}

.banner-section .pattern-layer .pattern-2{
  position: absolute;
  left: 278px;
  top: 228px;
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  -webkit-animation: zoom-fade 4s infinite linear;
  animation: zoom-fade 4s infinite linear;
}

.banner-section .pattern-layer .pattern-3{
  position: absolute;
  left: 531px;
  top: 404px;
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
}

.banner-section .pattern-layer .pattern-4{
  position: absolute;
  left: 322px;
  top: 714px;
  width: 86px;
  height: 86px;
  background: #90F0B7;
  border-radius: 50%;
  -webkit-animation: zoom-fade 5s infinite linear;
  animation: zoom-fade 5s infinite linear;
}

.banner-section .pattern-layer .pattern-5{
  position: absolute;
  left: 598px;
  top: 860px;
  width: 64px;
  height: 64px;
  background: #F4C6FF;
  border-radius: 50%;
  -webkit-animation: zoom-fade 4s infinite linear;
  animation: zoom-fade 4s infinite linear;
}

.banner-section .pattern-layer .pattern-6{
  position: absolute;
  left: 510px;
  top: 1050px;
  width: 90px;
  height: 106px;
  background-repeat: no-repeat;
  z-index: 1;
}

.banner-section .pattern-layer .pattern-7{
  position: absolute;
  top: 127px;
  right: 830px;
  width: 125px;
  height: 113px;
  background-repeat: no-repeat;
}

.banner-section .pattern-layer .pattern-8{
  position: absolute;
  top: 98px;
  right: 631px;
  width: 172px;
  height: 204px;
  background-repeat: no-repeat;
}

.banner-section .pattern-layer .pattern-9{
  position: absolute;
  top: 355px;
  right: 523px;
  width: 277px;
  height: 220px;
  background-repeat: no-repeat;
}

.banner-section .pattern-layer .pattern-10{
  position: absolute;
  top: 611px;
  right: 657px;
  width: 66px;
  height: 89px;
  background-repeat: no-repeat;
  -webkit-animation: zoom-fade 4s infinite linear;
  animation: zoom-fade 4s infinite linear;
}

.banner-section .pattern-layer .pattern-11{
  position: absolute;
  top: 332px;
  right: 167px;
  width: 98px;
  height: 89px;
  background-repeat: no-repeat;
}

.banner-section .pattern-layer .pattern-12{
  position: absolute;
  top: 381px;
  right: 313px;
  width: 405px;
  height: 490px;
  background-repeat: no-repeat;
}


.banner-section .pattern-layer .pattern-13{
  position: absolute;
  top: 812px;
  right: 213px;
  width: 160px;
  height: 160px;
  background: #EDFFC6;
  border-radius: 50%;
  -webkit-animation: zoom-fade 5s infinite linear;
  animation: zoom-fade 5s infinite linear;
}

.banner-section .pattern-layer .pattern-14{
  position: absolute;
  top: 888px;
  right: 167px;
  width: 166px;
  height: 167px;
  background-repeat: no-repeat;
}


/** banner-style-two **/

.banner-style-two{
  position: relative;
  padding: 243px 0px 187px 0px;
  background: #1F1F1F;
}

.banner-style-two .content-box{
  position: relative;
  display: block;
  max-width: 900px;
}

.banner-style-two .content-box h2{
  font-size: 120px;
  line-height: 130px;
  color: #fff;
  margin-bottom: 22px;
}

.banner-style-two .content-box p{
  color: #ADADAD;
  max-width: 550px;
  margin-bottom: 25px;
}

.banner-style-two .curved-circle{
  margin-bottom: 60px;
  left: 10px;
}

.banner-style-two .curved-circle .video-btn:after{
  background: #1F1F1F;
}

.banner-style-two .curved-circle .curve-text span{
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-style-two .big-text{
  position: relative;
  display: block;
  left: -300px;
  font-size: 240px;
  line-height: 200px;
  font-family: var(--title-font);
  min-height: 200px;
  font-weight: 700;
  background: -webkit-linear-gradient(rgba(255, 228, 130, 1), rgba(255, 143, 109, 1));
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px transparent;
  color: rgba(31, 31, 31, 1);
}

.banner-style-two .image-layer .image-1{
  position: absolute;
  top: 140px;
  right: 124px;
  width: 398px;
  height: 398px;
  border-radius: 140px;
  transform: skew(-5deg);
}

.banner-style-two .image-layer .image img{
  width: 100%;
  border-radius: 140px;
}

.banner-style-two .image-layer .image-2{
  position: absolute;
  right: 27px;
  bottom: 226px;
  width: 564px;
  height: 564px;
  border-radius: 140px;
  transform: skew(-5deg);
}

.banner-style-two .image-layer .image-3{
  position: absolute;
  bottom: 447px;
  right: 619px;
  width: 370px;
  height: 370px;
  border-radius: 140px;
  transform: skew(-5deg);
}

.banner-style-two .image-layer .image-4{
  position: absolute;
  left: 0px;
  top: 375px;
  clip-path: polygon(60.89% 44.75%, 4.5% 5.25%, 14.75% 0%, 91.45% 49.75%, 14.75% 99.5%, 4.5% 93.85%, 60.89% 55.39%, 0% 55.39%, 0% 44.75%);
}

.banner-style-two .pattern-layer .pattern-1{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 388px;
  height: 198px;
  background-repeat: no-repeat;
}

.banner-style-two .pattern-layer .pattern-2{
  position: absolute;
  left: 278px;
  top: 228px;
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  -webkit-animation: zoom-fade 4s infinite linear;
  animation: zoom-fade 4s infinite linear;
}

.banner-style-two .pattern-layer .pattern-3{
  position: absolute;
  top: 98px;
  right: 630px;
  width: 172px;
  height: 204px;
  background-repeat: no-repeat;
  -webkit-animation: zoom-fade 6s infinite linear;
  animation: zoom-fade 6s infinite linear;
}

.banner-style-two .pattern-layer .pattern-4{
  position: absolute;
  top: 130px;
  right: 312px;
  width: 405px;
  height: 740px;
  background-repeat: no-repeat;
}

.banner-style-two .pattern-layer .pattern-5{
  position: absolute;
  top: 400px;
  right: 400px;
  width: 467px;
  height: 506px;
  background-repeat: no-repeat;
}

.banner-style-two .pattern-layer .pattern-6{
  position: absolute;
  left: 786px;
  bottom: 229px;
  width: 68px;
  height: 68px;
  background-repeat: no-repeat;
}


/** banner-style-three **/

.banner-style-three{
  position: relative;
  background: #FFF9F7;
  padding: 243px 0px 120px 0px;
  overflow: hidden;
}

.banner-style-three .content-box{
  position: relative;
  display: block;
}

.banner-style-three .content-box h2{
  font-size: 120px;
  line-height: 130px;
  text-align: center;
  margin-bottom: 100px;
}

.banner-style-three .content-box .inner-box{
  position: relative;
  display: block;
  padding: 0px 220px;
  margin-bottom: 160px;
}

.banner-style-three .content-box .inner-box .image-list{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-style-three .content-box .inner-box .image-list li{
  position: relative;
  display: inline-block;
}

.banner-style-three .content-box .inner-box .image-list li img{
  width: 100%;
}

.banner-style-three .content-box .inner-box .image-list li:before{
  position: absolute;
  content: '';
  width: 1px;
  height: calc(100% + 100px);
  left: 0px;
  top: -50px;
}

.banner-style-three .content-box .inner-box .image-list li:last-child:after{
  position: absolute;
  content: '';
  width: 1px;
  height: calc(100% + 100px);
  right: 0px;
  top: -50px;
}

.banner-style-three .curved-circle{
  position: absolute;
  left: 10px;
  bottom: 20px;
}

.banner-style-three .curved-circle .video-btn:after{
  background: #FFF9F7;
}

.banner-style-three .curved-circle .curve-text span{
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-style-three .content-box .inner-box .text-box{
  position: absolute;
  top: 45px;
  right: -120px;
  width: 208px;
}

.banner-style-three .lower-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-style-three .lower-box .single-item{
  position: relative;
  display: inline-block;
  padding-left: 70px;
}

.banner-style-three .lower-box .single-item .icon-box{
  position: absolute;
  left: 0px;
  top: 7px;
}

.banner-style-three .lower-box .single-item h3{
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 34px;
}

.banner-style-three .lower-box .funfact-inner{
  position: relative;
  display: flex;
  align-items: center;
}

.banner-style-three .lower-box .counter-block{
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 70px;
}

.banner-style-three .lower-box .counter-block:last-child{
  margin: 0px !important;
}

.banner-style-three .lower-box .counter-block .count-outer{
  font-size: 52px;
  line-height: 60px;
  font-family: var(--title-font);
  color: var(--title-color);
  font-weight: 700;
  margin-right: 25px;
}

.banner-style-three .big-text{
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-size: 500px;
  line-height: 366px;
  font-family: var(--title-font);
  font-weight: 700;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(31, 31, 31, 0.10);
}

.banner-style-three .pattern-layer .pattern-1{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 388px;
  height: 198px;
  background-repeat: no-repeat;
}

.banner-style-three .pattern-layer .pattern-2{
  position: absolute;
  right: 660px;
  top: 100px;
  width: 116px;
  height: 138px;
  background-repeat: no-repeat;
  -webkit-animation: zoom-fade 5s infinite linear;
  animation: zoom-fade 5s infinite linear;
}

.banner-style-three .pattern-layer .pattern-3{
  position: absolute;
  top: 220px;
  right: 135px;
  width: 156px;
  height: 132px;
  background-repeat: no-repeat;
}

.banner-style-three .pattern-layer .pattern-4{
  position: absolute;
  left: 320px;
  top: 400px;
  width: 68px;
  height: 68px;
  background-repeat: no-repeat;
}

.banner-style-three .pattern-layer .pattern-5{
  position: absolute;
  left: 430px;
  top: 590px;
  width: 90px;
  height: 106px;
  background-repeat: no-repeat;
}

.banner-style-three .pattern-layer .pattern-6{
  position: absolute;
  left: 610px;
  bottom: 75px;
  width: 193px;
  height: 194px;
  background-repeat: no-repeat;
}

.banner-style-three .pattern-layer .pattern-7{
  position: absolute;
  top: 468px;
  right: 347px;
  width: 66px;
  height: 89px;
  background-repeat: no-repeat;
}

.banner-style-three .pattern-layer .pattern-8{
  position: absolute;
  right: 0px;
  bottom: 380px;
  width: 61px;
  height: 453px;
  background-repeat: no-repeat;
}

.banner-style-three .pattern-layer .pattern-9{
  position: absolute;
  right: -30px;
  bottom: -30px;
  width: 209px;
  height: 190px;
  background-repeat: no-repeat;
  -webkit-animation: zoom-fade 8s infinite linear;
  animation: zoom-fade 8s infinite linear;
}




/** rtl-css **/

.rtl .banner-section .inner-box .counter-block .count-outer{
  margin-right: 0px;
  margin-left: 25px;
}

.rtl .banner-section .inner-box .counter-block{
  margin-right: 0px;
  margin-left: 70px;
}

.rtl .banner-style-three .lower-box .counter-block{
  margin-right: 0px;
  margin-left: 30px;
}

.rtl .banner-style-three .lower-box .counter-block .count-outer{
  margin-right: 0px;
  margin-left: 25px;
}

/** responsive-css **/

@media only screen and (max-width: 1599px){
  .banner-style-two .image-layer .image-3{
    display: none;
  }

  .banner-style-three .content-box .inner-box .text-box{
    right: 0px;
  }
}

@media only screen and (max-width: 1200px){
  .banner-section .curved-circle{
    display: none;
  }

  .banner-style-two .image-layer{
    display: none;
  }

  .banner-style-two .pattern-layer{
    display: none;
  }

  .banner-style-two .big-text{
    left: 0px;
  }

  .banner-style-two .content-box{
    max-width: 100%;
  }
}

@media only screen and (max-width: 991px){
  .banner-section .pattern-layer{
    display: none;
  }

  .banner-section .inner-box{
    display: block;
  }

  .banner-section .inner-box .single-item{
    margin-bottom: 20px;
  }

  .banner-section .outer-container{
    padding-right: 0px;
  }

  .banner-section h2 br{
    display: none;
  }

  .banner-style-three .content-box .inner-box{
    padding: 0px;
  }

  .banner-style-three .curved-circle{
    display: none;
  }

  .banner-style-three .content-box .inner-box .text-box{
    position: relative;
    top: 0px;
    width: 100%;
    margin-top: 80px;
  }

  .banner-style-three .big-text{
    display: none;
  }

  .banner-style-three .pattern-layer .pattern-6{
    display: none;
  }

  .banner-style-three .lower-box .counter-block{
    margin-right: 30px;
  }
}

@media only screen and (max-width: 767px){
  .banner-section h2{
    font-size: 60px;
    line-height: 70px;
  }

  .banner-section{
    padding-top: 140px;
  }

  .banner-section .text-box{
    margin-bottom: 0px;
  }

  .banner-section .content-box{
    margin-bottom: 60px;
  }

  .banner-section .outer-container:before{
    display: none;
  }

  .banner-style-two .content-box h2{
    font-size: 50px;
    line-height: 60px;
  }

  .banner-style-two .big-text{
    font-size: 100px;
    line-height: 100px;
    min-height: 100px;
  }

  .banner-style-two{
    padding: 140px 0px 100px 0px;
  }

  .banner-style-three .content-box h2{
    font-size: 60px;
    line-height: 70px;
  }

  .banner-style-three .lower-box{
    display: block;
  }

  .banner-style-three .lower-box .single-item{
    margin-bottom: 30px;
  }

  .banner-style-three .pattern-layer .pattern-8{
    display: none;
  }

  .banner-style-three .content-box .inner-box{
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 599px){
  .banner-section .inner-box .funfact-inner{
    display: block;
  }

  .banner-style-three .lower-box .counter-block{
    display: block;
  }
}

@media only screen and (max-width: 499px){
  .banner-style-two .big-text{
    font-size: 90px;
  }
}









































