
/** clients-section **/

.clients-section{
  position: relative;
}

.clients-section .owl-carousel .owl-stage{
  display: flex;
  align-items: center;
}

.clients-section .clients-logo{
  position: relative;
  display: block;
}

.clients-section .clients-logo img{
  position: relative;
  display: block;
  max-width: 100%;
  width: auto;
  margin: 0 auto;
  transition: all 500ms ease;
}

.clients-section .clients-logo img:hover{
  transform: scale(1.03);
}

/** rtl-css **/



/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){

}

@media only screen and (max-width: 767px){
  .clients-section{
    padding-bottom: 70px;
  }
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){

}









































