

/** error-section **/

.error-section{
  position: relative;
  padding: 100px 0px 120px 0px;
  background: #FFF9F7;
}

.error-section .inner-box h1{
  font-size: 200px;
  line-height: 200px;
  font-weight: 700;
  margin-bottom: 10px;
}

.error-section .inner-box h2{
  position: relative;
  display: block;
  font-size: 30px;
  line-height: 42px;
  font-weight: 500;
  margin-bottom: 60px;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){

}

@media only screen and (max-width: 767px){

}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){

}









































