
/** feature-section **/


.feature-section{
  position: relative;
}

.feature-section .bg-color{
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 118px;
  background: #1F1F1F;
}

.feature-section .inner-container{
  position: relative;
  display: block;
  overflow: hidden;
  background: #FFF9F7;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.05);
  padding: 53px 100px 44px 48px;
}

.feature-section .inner-container .shape{
  position: absolute;
  left: 205px;
  bottom: 27px;
  width: 189px;
  height: 160px;
  background-repeat: no-repeat;
}

.feature-section .content-box{
  position: relative;
  display: block;
  margin-left: 100px;
  margin-top: 50px;
}

.feature-section .content-box:before{
  position: absolute;
  content: '';
  background: rgba(31, 31, 31, 0.10);
  width: 5px;
  height: 100%;
  left: -110px;
  top: 0px;
}

.feature-block-one .inner-box{
  position: relative;
  display: block;
}

.feature-block-one .inner-box .icon-box{
  position: relative;
  display: inline-block;
  min-height: 54px;
  margin-bottom: 21px;
}

.feature-block-one .inner-box h3{
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 15px;
}

.feature-section .owl-dots{
  position: absolute;
  left: -493px;
  bottom: 30px;
}

.feature-section .dots-style-one .owl-dots .owl-dot:after{
  background: #FFF9F7;
}


/** feature-style-two **/

.feature-style-two{
  position: relative;
  background: #FFF9F7;
}

.feature-style-two .title-inner .left-content h5{
  position: relative;
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  padding-left: 43px;
  margin-bottom: 16px;
}

.feature-style-two .title-inner .left-content h5 img{
  position: absolute;
  left: 0px;
  top: -3px;
}

.feature-style-two .title-inner .right-content{
  position: relative;
  padding-left: 220px;
}

.feature-style-two .title-inner h2{
  font-size: 52px;
  line-height: 62px;
}

.feature-style-two .title-inner .right-content:before{
  position: absolute;
  content: '';
  background: rgba(31, 31, 31, 0.10);
  width: 5px;
  height: calc(100% - 22px);
  left: 80px;
  top: 11px;
}

.feature-block-two .inner-box{
  position: relative;
  display: block;
  background: #fff;
  padding: 30px 20px;
  margin-bottom: 30px;
  z-index: 1;
}

.feature-block-two .inner-box:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 0%;
  left: 0px;
  bottom: 0px;
  z-index: -1;
  transition: all 500ms ease;
}

.feature-block-two .inner-box:hover:before{
  height: 100%;
}

.feature-block-two .inner-box .count-text{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #656565;
  text-align: center;
  margin-bottom: 23px;
  border: 1px solid transparent;
  z-index: 1;
  transition: all 500ms ease;
}

.feature-block-two .inner-box:hover .count-text{
  border-color: #fff;
  color: #fff;
}

.feature-block-two .inner-box .count-text:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: -1;
  transition: all 500ms ease;
}

.feature-block-two .inner-box:hover .count-text:before{
  opacity: 0;
}

.feature-block-two .inner-box .count-text:after{
  position: absolute;
  content: '';
  background: #fff;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  left: 1px;
  top: 1px;
  z-index: -1;
  transition: all 500ms ease;
}

.feature-block-two .inner-box:hover .count-text:after{
  opacity: 0;
}

.feature-block-two .inner-box h4{
  display: block;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
}

.feature-block-two .inner-box h4 a{
  display: inline-block;
  color: var(--title-color);
}

.feature-block-two .inner-box:hover h4 a{
  color: #fff;
}

.feature-block-two .inner-box h4 a:hover{
  text-decoration: underline;
}

.feature-block-two .inner-box p{
  margin-bottom: 22px;
  transition: all 500ms ease;
}

.feature-block-two .inner-box:hover p{
  color: #fff;
}

.feature-block-two .inner-box .btn-box a{
  position: relative;
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  color: #656565;
  padding: 7px 25px;
  background: #FFF9F7;
  text-align: center;
}

.feature-block-two .inner-box .btn-box a span{
  position: relative;
  display: inline-block;
  padding-right: 20px;
  transition: all 500ms ease;
}

.feature-block-two .inner-box .btn-box a span:before{
  position: absolute;
  content: '\e901';
  font-family: 'icomoon';
  font-size: 8px;
  right: 0px;
  bottom: 0px;
  transform: rotate(45deg);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.feature-block-two .inner-box .btn-box a:hover span{
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.feature-block-two .inner-box .btn-box a:hover{
  background: #fff;
}

.feature-style-two .pattern-layer{
  position: absolute;
  left: 292px;
  top: 270px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}

.feature-section.alternat-2 .inner-container{
  background: #FFFDF3;
}

.feature-block-three .inner-box{
  position: relative;
  display: block;
}

.feature-block-three .inner-box .title-box{
  position: relative;
  display: block;
  padding: 0px 0px 0px 72px;
  margin-bottom: 16px;
}

.feature-block-three .inner-box .title-box .icon-box{
  position: absolute;
  left: 0px;
  top: 0px;
}

.feature-block-three .inner-box .title-box h3{
  font-size: 24px;
  line-height: 34px;
}

.feature-block-three .inner-box .title-box span{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 26px;
  color: var(--title-color);
}

.feature-section.alternat-2 .owl-dots{
  bottom: 0px;
}

.feature-section.alternat-2 .dots-style-one .owl-dots .owl-dot:after{
  background: #FFFDF3;
}


/** feature-style-three **/

.feature-style-three{
  position: relative;
}

.feature-style-three .owl-dots{
  margin-top: 40px;
}

.feature-style-three .feature-block-one .inner-box{
  padding-right: 30px;
}


.feature-section.home-3:before{
  position: absolute;
  content: '';
  background: #1F1F1F;
  width: 100%;
  height: 50%;
  left: 0px;
  bottom: 0px;
}



/** rtl-css **/

.rtl .feature-section .content-box{
  margin-left: 0px;
  margin-right: 100px;
  text-align: right;
}

.rtl .feature-section .content-box:before{
  left: inherit;
  right: -110px;
}

.rtl .feature-section .owl-dots{
  left: inherit;
  right: -493px;
}

.rtl .feature-style-two .title-inner .right-content{
  padding-left: 0px;
  padding-right: 220px;
}

.rtl .feature-style-two .title-inner .right-content:before{
  left: inherit;
  right: 80px;
}

.rtl .feature-block-three .inner-box .title-box{
  padding-left: 0px;
  padding-right: 72px;
}

.rtl .feature-block-three .inner-box .title-box .icon-box{
  left: inherit;
  right: 0px;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){
  .feature-section .content-box{
    margin-left: 0px;
  }

  .rtl .feature-section .content-box{
    margin-right: 0px;
  }

  .feature-section .content-box:before{
    display: none;
  }

  .feature-style-two .title-inner .right-content{
    padding-left: 0px;
    margin-top: 20px;
  }

  .rtl .feature-style-two .title-inner .right-content{
    padding-right: 0px;
  }

  .feature-style-two .title-inner .right-content:before{
    display: none;
  }

  .feature-style-two .title-inner .left-content{
    text-align: left;
  }

  .rtl .feature-style-two .title-inner .left-content{
    text-align: right;
  }
}

@media only screen and (max-width: 767px){
  .feature-style-two .title-inner h2{
    font-size: 40px;
    line-height: 50px;
  }

  .feature-style-two{
    padding: 70px 0px 40px 0px;
  }

  .feature-section.alternat-2{
    padding-bottom: 70px;
  }

  .feature-style-three .owl-dots{
    display: none;
  }

  .feature-style-three{
    padding-top: 70px;
  }

  .feature-style-three .feature-block-one .inner-box{
    padding-right: 0px;
  }

  .feature-section.alternat-2.home-3{
    padding-bottom: 0px;
  }
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){
  .feature-section .inner-container{
    padding-right: 30px;
    padding-left: 30px;
  }
}









































