
/** instagram-section **/

.instagram-section{
  position: relative;
}

.instagram-block-one .inner-box{
  position: relative;
  display: block;
}

.instagram-block-one .inner-box .image-box{
  position: relative;
  display: block;
  overflow: hidden;
}

.instagram-block-one .inner-box .image-box img{
  width: 100%;
  transition: all 500ms ease;
}

.instagram-block-one .inner-box:hover .image-box img{
  transform: scale(1.05);
  opacity: 0.5;
}

.instagram-block-one .inner-box .link{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.instagram-block-one .inner-box .link a{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  font-size: 32px;
  color: #fff;
  transform: scale(0,0);
}

.instagram-block-one .inner-box:hover .link a{
  transform: scale(1,1);
}

/** rtl-css **/



/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){

}

@media only screen and (max-width: 767px){
  
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){

}









































